.preview-container {
  background-color: #fff;
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.preview-container iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

.react-draggable-transparent-selection .preview-container {
  pointer-events: none;
}
