.new-cell-bar {
  display: flex;
  justify-content: center;
  opacity: 0.35;
  padding: 0.7rem 0;
  position: relative;
  transition: opacity 0.3s ease;
}

.new-cell-bar:hover {
  opacity: 0.9;
}

.new-cell-bar-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.divider-line {
  border-bottom: 1px dashed #35809e;
  position: absolute;
  top: 50%;
  width: 75%;
  z-index: -1;
}

.empty-list .new-cell-bar {
  opacity: 0.9;
}
